language: php

services:
  - docker

cache:
  directories:
    - vendor
    - $HOME/.composer/cache
    - /var/lib/docker/overlay2

before_install:
  - docker-compose up -d
  - docker pull php:7.1-cli
  - docker pull php:7.2-cli
  - docker pull php:7.3-cli
  - docker pull php:7.4-cli

install:
  - composer install

script:
  - ./run-tests.sh
